{% extends 'users/base.html' %}
{% load static %}

{% block body %}
<div class="container">
<h1>Feeds</h1>
</div>
<div class="container" style="justify-content: center; align-items: center; ">
{% for post in posts%}

<div class="card" style="width: 50rem;">
  <div class="card-header">
    {% if post.user.profile.photo.url is not none %}
    <img src="{{post.user.profile.photo.url}}" alt="" style="border-radius: 50%; height: 50px;  width: 50px;">  
    {% else %}
    <img src="{% static 'users/images/default_profile.png' %}" alt="" style="border-radius: 50%; height: 50px;  width: 50px;">  
    {% endif %}
    
    {{post.user}}
  </div>    
  <img src="{{post.image.url}}" class="card-img-top" alt="post">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.caption}}</p>
    
  </div>
  <div class="card-footer">
    
    {% if logged_user in post.liked_by.all %}
    <a id="{{post.id}}" class="btn-like">
    <img src="{% static 'users/images/like.png' %}" style="border-radius: 50%; height: 50px;  width: 50px;" alt="like">
    </a>
    {% else %}
    <a id="{{post.id}}" class="btn-like">
    <img src="{% static 'users/images/unlike.png' %}" style="border-radius: 50%; height: 50px;  width: 50px;" alt="unlike">
    </a>
    {% endif %}
     
  <div>
    {% if post.liked_by.count == 0 %}

    {% elif post.liked_by.count == 1 %}
        {{ post.liked_by.first }} likes this

    {% elif post.liked_by.count == 2 %}
        {{ post.liked_by.first }} & 1 other like this

    {% else %}
        {{ post.liked_by.first }} & {{ post.other_likes_count }} others like this
    {% endif %}
</div>
  <div class="container" style="background-color: white; padding: 10px; margin: 20px; width: 700px">
    {% for comment in post.comment.all %}
        <div style="background-color: #f5f5f5; padding: 10px; margin-bottom: 8px; border-radius: 8px;">
            <b>{{ comment.posted_by }}</b>
            <p style="margin: 5px 0 0 0;">{{ comment.body }}</p>
        </div>
    {% empty %}
        <p style="color: gray;">No comments yet.</p>
    {% endfor %}
</div>
  <div>
    <form method="post">
      {% csrf_token %}
      <div>Add comment</div>
      <div>{{comment_form.body}}</div>
      <div>
        <input type="hidden" name="post_id", id="post_id" value="{{post.id}}">
        <input type="hidden" name="posted_by", id="posted_by" value="{{logged_user}}">
      </div>
      <div>
        <button type="submit" class="btn btn-primary  m-2 p-3">Add</button>
      </div>
    </form>
  </div>
  </div>
</div>
{% endfor %}
<script type="text/javascript">
    window.CSRF_TOKEN="{{ csrf_token }}"
    $(document).on('click','.btn-like',function(){
        var post_id=this.id
        $.ajax({
            method:"POST",
            url:'/posts/like',
            data:{post_id:post_id, csrfmiddlewaretoken:window.CSRF_TOKEN}
        })
        window.location.href=""
    })
</script>

</div>
{% endblock %}